<div>
    <p>This is Tutor page</p>
    <button (click)="showProfile()" type="button" class="w-100 btn btn-lg btn-primary" *ngIf="authenticated">
        {{ClikShowProfile?"Show Profile":"Hide Profile"}}
    </button>
    <ng-container *ngIf="VisibleProfile">
        <div *ngIf="profils">
            <span>{{profils.name}}</span> -------------
            <span>{{profils.surname}}</span>
        </div>
        <div>
            <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                <input formControlName="name" class="form-control" placeholder="Name" required>  
                <input formControlName="surname" class="form-control" placeholder="Surname" required>       
                <button [disabled]="profileForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">apply changes</button>
              </form>
        </div>
    </ng-container>
    <button (click)="showSubjects()" type="button" class="w-100 btn btn-lg btn-primary" *ngIf="authenticated">
        {{ClikShowSubjects?"Show my Subjects":"Hide my Subjects"}}
    </button>
    <ng-container *ngIf="VisibleSubjects">
        <div *ngFor="let sub of subjects">
            <!--<Button *ngIf="sub.id" (click)="showStudents(sub.id)">{{sub.name}}</Button>   -->
            <a [routerLink]="['/work', sub.id]">
            {{ sub.name }}
            </a>
        </div>
    </ng-container>
       
    <button (click)="showStudents()" class="w-100 btn btn-lg btn-primary" type="submit">
        {{ClikShowStudents?"Find my Students":"Find my Students"}}
    </button>
    <ng-container *ngIf="VisibleStudents">
        <input type="text" id="name" [(ngModel)]="nameStudent" placeholder="Name of Student" required minlength="1" maxlength="12" size="30">
        <button (click)="findStudent()"> Find</button>
        <div *ngFor="let sub of showFind ">
            <p> Name: {{sub.name}}</p> -------------- 
            <p> Surname: {{sub.surname}}</p>
        </div>
    </ng-container>
    <!--
    <button (click)="showCreateKlass()" type="button" class="w-100 btn btn-lg btn-primary" *ngIf="authenticated">
        {{ClikShowCreateKlass?"Create klass":"Create klass"}}
    </button>
    <ng-container *ngIf="VisibleCreateKlass">
        <form [formGroup]="klassForm" (ngSubmit)="createKlass()">
            <input formControlName="name" class="form-control"  placeholder="Name of Klass" required>     
            <input formControlName="schoolId" class="form-control"  placeholder="schoolId" required>       
            <button [disabled]="klassForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
          </form>
    </ng-container>
    <button (click)="showPutGrade()" type="button" class="w-100 btn btn-lg btn-primary" *ngIf="authenticated">
        {{ClikShowPutGrade?"Put Grade":"Put Grade"}}
    </button>
    <ng-container *ngIf="VisiblePutGrade">
        <form [formGroup]="gradeForm" (ngSubmit)="putGrade()"> 
            <input formControlName="id" class="form-control"  placeholder="GradeId" required>   
            <input formControlName="grade" class="form-control"  placeholder="Grade" required>    
            <input formControlName="subjectId" class="form-control"  placeholder="subjectId" required>      
            <input formControlName="studentId" class="form-control"  placeholder="studentId" required>  
            <button [disabled]="gradeForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
          </form>
    </ng-container>

    --->
</div>